# Introduction

## Table of Contents:
* [1. Basic Data Types](#basic_data_types)
    * [1.1. Float](#float)
    * [1.2. Integer](#integer)
    * [1.3. Boolean](#boolean)
    * [1.4. String](#string)
    * [1.5. List](#list)
    * [1.6. Dictionary](#dictionary)
* [2. Variable Names](#variable_names)
* [3. Functions](#functions)

## Jupyter Notebook
The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.

## `Hello World` in python

In [1]:
print("Hello World!")

Hello World!

<a class="anchor" id="basic_data_types"></a>
## 1. Basic Data Types

|Name|Type|Description|
|:--|:--|:--|
|integers|int|whole numbers: `300`|
|floating point|float|numbers with a decimal point: `3.4`, `5.80989`, `100.0`|
|strings|str|ordered sequence of characters: `"hello"`, `"summer", "سلام"`|
|lists|list|ordered sequence of objects: `[10, "hello", 200.3]`|
|dictionaries|dict|unordered key, value pairs: `{"key_1": "value_1", "key_2": "value_2"}`|
|tuples|tuple|ordered immutable sequence of objects: `(10, "hello", 200.3)`|
|sets|set|unordered collection of unique objects: `{"a", "b"}`|
|booleans|bool|logical value indicating `True` or `False`|

<a class="anchor" id="float"></a>
### 1.1 Float

In [2]:
float_num = 1.0

<a class="anchor" id="integer"></a>
### 1.2 Integer

In [5]:
int_num = 1

<a class="anchor" id="boolean"></a>
### 1.3 Boolean

In [65]:
flag = True

In [66]:
flag = False

<a class="anchor" id="string"></a>
### 1.4 String
- Strings are ordered sequences: indexing and slicing
- `string[start:stop:step]`
- Note: strings are **immutable**! Most python objects (`booleans`, `integers`, `floats`, `strings`, and `tuples`) are immutable. This means that after you create the object and assign some value to it, you can’t modify that value.

In [7]:
my_str = "abcdefghijklmnopqrstuvwxyz"

In [8]:
my_str[0]

'a'

In [9]:
my_str[3:]

'defghijklmnopqrstuvwxyz'

In [10]:
my_str[:10]

'abcdefghij'

In [11]:
my_str[:]

'abcdefghijklmnopqrstuvwxyz'

In [12]:
my_str[::2]

'acegikmoqsuwy'

In [13]:
my_str[-1]

'z'

In [14]:
my_str[:-1]

'abcdefghijklmnopqrstuvwxy'

In [15]:
my_str[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [16]:
my_str[-4:]

'wxyz'

In [17]:
my_str[-4::-1]

'wvutsrqponmlkjihgfedcba'

<a class="anchor" id="list"></a>
### 1.5 List

In [53]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
mylist[0]

1

In [56]:
mylist[3:]

[4, 5, 6, 7, 8, 9, 10]

In [59]:
mylist[:5]

[1, 2, 3, 4, 5]

<a class="anchor" id="dictionary"></a>
### 1.6 Dictionary

In [60]:
mydict = {"one": 1, "two": 2, "three": 3}

In [62]:
mydict["one"]

1

In [63]:
mydict["two"]

2

<a class="anchor" id="variable_names"></a>
## 2. Variable names rules:
- names cannot start with a number
- there can be no space in name, use `_` instead.
- can't use any of these symbols: `:'",<>/?|\()!@#$%^&*~-+`
- it is considered best practice (pep8) that names are lowercase
- avoid using words that have special meaning in python like `"list"` and `"str"`
  - `str = "string"; x = "123"; str(x)` raises `TypeError: 'str' object is not callable` error. `del str` to remove the variable.
- python uses **Dynamic Typing** which means you can reassign variables to different data types. This is different than other languages that are **"Statically-Typed"**

<a class="anchor" id="functions"></a>
## 3. Functions

In [68]:
def func(input):
    # code
    return output

In [71]:
def product(a=2, b=3):
    return a*b

product(b=4, a=8)

32

### Data Type Functions

#### Convert `float` and `int`

In [72]:
float_num = float(1)

In [73]:
float_num = float(0.3)

In [74]:
int_num = int(0.3)

#### String

In [34]:
mystr = "this IS a StRiNg"
print(mystr.upper())
print(mystr.lower())
print(mystr.title())
print(mystr.capitalize())

THIS IS A STRING
this is a string
This Is A String
This is a string

In [43]:
mystr = "58"
print(mystr.isalpha())
print(mystr.isdigit())

False
True

In [45]:
mystr = "     so many spaces here                  "
print("--->", mystr.strip(), "<---")

---> so many spaces here <---

In [48]:
mystr = "this is a string"
print(mystr.startswith("this"))
print(mystr.endswith("string"))

True
True

In [30]:
car_name = "Ferrari"
location = "parking"
int_num = 5
float_num = 2324.92374923749237

In [23]:
my_str = "there are {} {} car in {}"
my_str.format(int_num, car_name, location)

'there are 5 Ferrari car in parking'

In [24]:
my_str = "there are {0} car in {1}"
my_str.format(int_num, location)

'there are 5 car in parking'

In [ ]:
my_str = "there are {num_people} people in {location}"
my_str.format(num_people=num_people, location=location)

In [25]:
"your number is {float_num:.10}".format(float_num=float_num)

'your number is 2324.923749'

In [31]:
# f-strings
f"a float number with 8 digits: {float_num:.8} "

'a float number with 8 digits: 2324.9237 '

Read More on **f-strings**: https://realpython.com/python-f-strings/

#### List

In [75]:
mylist = ["apple", "pear", "banana"]
mylist.append("orange")

In [76]:
mylist

['apple', 'pear', 'banana', 'orange']

In [77]:
mylist.pop()

'orange'

In [78]:
mylist

['apple', 'pear', 'banana']

In [79]:
mylist.pop(0)

'apple'

In [80]:
mylist

['pear', 'banana']

In [82]:
mylist.sort()
mylist

['banana', 'pear']

In [88]:
mylist.reverse()
mylist

['pear', 'banana']

#### Dictionary

In [89]:
mydict = {"one": 1, "two": 2, "three": 3}

In [90]:
mydict["one"]

1

In [91]:
mydict.keys()

dict_keys(['one', 'two', 'three'])

In [92]:
mydict.values()

dict_values([1, 2, 3])

In [93]:
mydict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])